@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&family=Poppins:wght@300;400;500;600;700;800&display=swap');

/* ----------------------------Root variable-------------------------- */
:root {
    --color-primary: #7380ec;
    --color-danger: #ff7782;
    --color-success: #41f1b6;
    --color-warning: #ffbb55;
    --color-primary: #7380ec;
    --color-white: #fff;
    --color-info-dark: #7d8da1;
    --color-info-light: #dce1eb;
    --color-dark: #363949;
    --color-light: rgba(132,139,200,0.18);
    --color-dark-variant: #677483;
    --color-background: #f6f6f9;


    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 0.8rem;
    --border-radius-3: 1.2rem;

    --card-padding: 1.8rem;
    --padding-1: 1.2rem;

    --box-shadow: 0 2rem 3rem var(var(--color-light));

}

/* ----------------Dark theme variable-------------- */

.dark-theme-variables{
    --color-background: #181a1e;
    --color-white: #202528;
    --color-dark: #edeffd;
    --color-dark-variant: #a3bdcc;
    --color-light: rgba(0,0,0,0.4);
    --box-shadow: 0 2rem 3rem var(--color-light);
}

*{
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: none;
    border: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

html{
    font-size: 14px;
}

body{
    width: 100vw;
    height: 100vh;
    font-family: poppins, sans-serif;
    font-size: 0.88rem;
    background: var(--color-background);
    user-select: none;
    overflow-x: hidden;
}

.container{
    display: grid;
    width: 96%;
    margin: 0 auto;
    gap: 1.8 rem;
    grid-template-columns: 14rem auto 23rem;
}

a{
    color: var(--color-dark);
}

img{
    display: block;
    width: 100%;
}

h1{
    font-weight: 800;
    font-size: 1.8rem;
    text-align: center;
    margin-top: 50px;
}

h2{
    font-size: 1.4rem;
}

h3{
    font-size: 0.87rem;
}

h4{
    font-size: 0.8rem;
}

h5{
    font-size: 0.77rem;
}

small{
    font-size: 0.75rem;
}

.profile-photo{
    width: 2.8rem;
    height: 2.8rem;
    overflow: hidden;
    border-radius: 50%;
}

.text-muted{
    color: var(--color-info-dark);
}

p{
    color: var(--color-dark-variant);
}

b{
    color: var(--color-dark);
}

.primary{
    color: var(--color-primary);
}

.danger{
    color: var(--color-danger);
}

.success{
    color: var(--color-success);
}

.warning{
    color: var(--color-warning);
}

aside{
    left: -100%;
    height: 100vh;
    animation: showMenu 400ms ease forwards;
}

@keyframes showMenu {
    to{
        left: 0;
    }
}

aside .top{
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.4rem;
}

aside .logo{
    display: flex;
    gap: 0.8 rem;
}

.aside .logo img{
    width: 2rem;
    height: 2rem;
}

aside .close{
    display: none;
}

/* -----------Slidebar------------ */
aside .slidebar{
    display: flex;
    flex-direction: column;
    height: 86vh;
    position: relative;
    top: 3rem;
}

aside h3{
    font-weight: 500;
}

aside .slidebar a{
    display: flex;
    color: var(--color-dark);
    margin-left: 2rem;
    gap: 1rem;
    align-items: center;
    position: relative;
    height: 5rem;
    transition: all 300ms ease;
}

aside .slidebar a span{
    font-size: 1.6rem;
    transition: all 300ms ease;
}

aside .slidebar a:last-child{
    position: absolute;
    bottom: 4rem;
    width: 100%
}

aside .slidebar a.active{
    background: var(--color-light);
    color: var(--color-primary);
    margin-left: 0;
}

aside .slidebar a.active:before{
    content: "";
    width: 6px;
    height: 100%;
    background: var(--color-primary);
}

aside .slidebar a.active span{
    color: var(--color-primary);
    margin-left: calc(1rem -3px);
}

aside .slidebar a:hover{
    color: var(--color-primary);
}

aside .slidebar a:hover span{
    margin-left: 1rem;
}

aside .slidebar .message-count{
    background: var(--color-danger);
    color: var(--color-white);
    padding: 2px 10px;
    font-size: 11px;
    border-radius: var(--border-radius-1);
}

/* -----------End of aside------------------- */

main{
    margin-top: 1.4rem;
    margin-left: 0.8rem;
    color: var(--color-dark);
    margin-right: 1rem;
}

.improvement{
    width: 100%;
    /* padding: 10px; */
    margin-top: 104px;
    margin-left: 90px;
    background: var(--color-white);
    border-radius: 10px;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
  }
  .table{
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 18px;
    min-width: 100%;
    text-align: center;
    overflow: hidden;
    border-radius: 5px 5px 0 0;
  }
  table thead tr{
    color: var(--color-dark);
    background:var(--color-background);
    text-align: left;
    font-weight: bold;
  }
  .table th,
  .table td{
    /* padding: 12px 15px; */
    padding: 40px 50px 60px 70px ;
  }
  .table tbody tr{
    border-bottom: 1px solid var(--color-light);
  }
  .table tbody tr:nth-of-type(odd){
    background: var(--color-background);
  }
  .table tbody tr.active{
    font-weight: bold;
    color: var(--color-background);
  }
  .table tbody tr:last-of-type{
    border-bottom: 2px solid var(--color-light);
  }